.PlayButton {
    display: block;
    padding: 15px 25px;
    margin-bottom: 80px;
    font-size: 32px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #80CEE1;
    border: none;
    border-radius: 15px;
    box-shadow: 0 11px #989999;
}
.PlayButton:hover {
    background-color: #5FA6B7; 
    box-shadow: 0 5px #666;
    transform: translateY(6px);
  }
.Buttons{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: 15%;
}
.Header{
    padding: 40px;
    text-align: center;
    background: #80CEE1;
    color: white;
    font-size: 32px;
    margin-bottom: 20px;
}

.gameHeader{
    padding: 13px;
    text-align: center;
    background: #80CEE1;
    color: white;
    font-size: 32px;
    margin-bottom: 20px;
}

canvas {
    transform: scale(-1, 1);
    filter: FlipH;
}

